@charset "utf-8";
/* CSS Document */
body
{
	/*background-image:url(images/a.jpg);*/
	margin:0px;
}

.head
{
	font-family:"Trebuchet MS";
	font-size:40px;
	color:#FFF;
	margin-left:50px;
	font-weight: 800;
}
#banner
{
	width:99.5%;
	height:100px;
	border:2px solid hsl(0, 64%, 50%);
	background-color:#061e96;
	text-align: center;
}
.clg
{
	font-family:"Segoe UI";
	font-size:50px;
	color:hwb(128 27% 3%);
	font-weight: 700;
}
#wrapper
{
	width:80%;
	border-radius:10px;
	border:2px solid #e72323;
	background-color:#2bff00;
}
.SubHead
{
	font-family:"Segoe UI";
	color:hsl(0, 89%, 49%);
	font-weight: bolder;
	font-size:20px;
}
.labels
{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:black;
}
.fields
{
	font-family:"Trebuchet MS";
	font-size:14px;
	color:blue;
	border-radius:5px;
	padding:4px 6px;
	border:1px solid blue;
	background-color:transparent;
}

.table
{

	border-radius:5px;
	padding:0px 5px;
	border:1px solid rgb(25, 25, 129);
	background-color:transparent;
}
a.link:link{font-family:"Segoe UI";font-size:16px;color:hwb(0 15% 7%);text-decoration:none;font-weight: bolder;}
a.link:active{font-family:"Segoe UI";font-size:16px;color:rgb(230, 12, 12);text-decoration:none;font-weight: bolder;}
a.link:visited{font-family:"Segoe UI";font-size:16px;color:hsl(0, 96%, 40%);text-decoration:none;font-weight: bolder;}
a.link:hover{font-family:"Segoe UI";font-size:16px;color:rgb(238, 22, 238);text-decoration:none;}


.msg
{
	font-family:"Segoe UI";
	color:rgb(130, 102, 255);
	font-size:13px;
}
a.Command:link{text-decoration:none;font-family:"Segoe UI";color:hwb(236 7% 12%);font-size:16px;padding:5px 7px;border:2px solid #ff3300;border-radius:5px;}
a.Command:active{text-decoration:none;font-family:"Segoe UI";color:#0f38f1;font-size:16px;padding:5px 7px;border:2px solid rgb(255, 51, 0);border-radius:5px;}
a.Command:visited{text-decoration:none;font-family:"Segoe UI";color:hsl(244, 81%, 49%);font-size:16px;padding:5px 7px;border:2px solid #ff0800;border-radius:5px;}
a.Command:hover{text-decoration:none;font-family:"Segoe UI";color:#e95916;font-size:16px;padding:5px 7px;border:2px solid #F60;border-radius:5px;box-shadow:0px 0px 10px #FFFFFF;}




/* Additional CSS styles for the table */
.table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
	
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #161afa;
}
.button{
	color:#0f5ef1;
}
